/* Formatting for vertically aligned lines */

.vert-line {
  display: flex;
  align-items: center;
}

/* Formatting for video and new question section */

#content-left,
#content-right {
  text-align: center;
}

#content-left {
  margin-top: 10%;
}

#content-right {
  border-left-style: solid;
  border-width: 0.07em;
  border-color: var(--gDGray);
}

iframe {
  width: 80%;
  height: 80%;
}

#new-question,
#new-question-logged-out {
  margin-left: 30px;
  display: none;
}

#account-functions div {
  width: 30%;
}

/* Formatting for button types */

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  outline: none;
}

.big-button {
  font-size: 170%;
  padding-left: 40px;
  padding-right: 40px;
}

.med-button {
  font-size: 130%;
}

.small-button {
  font-size: 110%;
}

select {
  text-align: center;
}

/* Formatting for labels and textareas */

textarea {
  margin: 10px;
  border: 2px solid black;
}

label {
  font-size: 130%;
}

/* Formatting for search and filters */

#search {
  justify-content: center;
}

#search-input {
  margin-top: 20px;
}

#search-button {
  margin-top: 20px;
  border-radius: 5px;
}

#filters {
  text-align: center;
  background-color: var(--fGray);
  padding: 10px;
}

#filter-topic-input {
  width: 150px;
}

/* Overall formatting for forum section */

#forum {
  width: 80%;
  margin: auto;
}

/* Formatting for question and comment elements */

.forum-element {
  overflow: auto;
}

.question {
  margin-top: 20px;
  margin-bottom: 40px;
  border-left: 5px solid var(--mainColor);
  background-color: var(--fGray);
  padding: 10px;
}

.comment {
  margin: 10px;
  border-left: 5px solid var(--fGray);
  padding: 10px;
}

/* Formatting within individual forum elements */

.info-element {
  justify-content: space-between;
}

.question p {
  font-size: 120%;
  margin: 5px;
}

.comment p {
  font-size: 110%;
  margin: 5px;
}

.text .comment {
  font-size: 130%;
}

.replies {
  margin: 20px;
  background-color: var(--backColor);
  padding: 10px;
}

.user,
.date {
  float: right;
  margin-left: 10px;
}

.text{
  clear: both;
}
