/* Navigation adjustments for home page */
#header {
  margin-top: 10%;
}

#header h1 {
  text-align: center;
  font-size: 500%;
}

#content-left h2 {
  font-size: 200%;
  font-weight: normal;
}

#content-right h2 {
  font-size: 200%;
  font-weight: normal;
}

#for-whom h2 {
  font-size: 200%;
  font-weight: normal;
}

#for-whom li {
  font-size: 180%;
  font-weight: normal;
  list-style-type: none;
  display: inline-block;
  margin-bottom: 10px;
}

#for-whom ul {
  margin-bottom: 40px;
}

#content-left iframe {
  width: 560px;
  height: 315px;
}

#account-functions {
  text-align: center;
  align-content: center;
  font-size: 140%;
}

/* Submit buttons for login/signup */
a {
  background-color: #4285f4;
  color: white;
  border: 2px solid #4285f4;
  align-content: center;
  cursor: pointer;
  padding: 16px 32px;
  font-size: 110%;
  margin-top: 20px;
  font-family: Google Sans, sans-serif;
  text-decoration: none;
}

a:hover {
  background-color: white;
  color: #4285f4;
}
