/* Tech Assistant Page Styling */
#left-tutorials-button {
  flex: 1;
  width: 50%;
}

#left-tutorials-button li {
  font-size: 120%;
  display: inline-block;
  list-style-type: none;
}

#right-forum-button {
  flex: 1;
  width: 50%;
}

#right-forum-button li {
  font-size: 120%;
  display: inline-block;
  list-style-type: none;
}

#buttons {
  height: 200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
}

.clearfix {
  clear: both;
}

.tech-button {
  background-color: #4285f4;
  border: 2px solid #4285f4;
  padding: 15px 32px;
  text-decoration: none;
  font-family: Google Sans, sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 200%;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
  color: white;
}

#page-content {
  clear: both;
}

.tech-button h4 {
  text-align: center;
}

.tech-button:hover {
  background-color: white;
  color: #4285f4;
}

#right-forum-button iframe {
  width: 560px;
  height: 315px;
}

#left-tutorials-button iframe {
  width: 560px;
  height: 315px;
}
