/* Tech Assistant Page Styling */
#left-tutorials-button {
  flex: 1;
  width: 50%;
}

#buttons li {
  font-size: 150%;
  display: inline-block;
  list-style-type: none;
}

#right-forum-button {
  flex: 1;
  width: 50%;
}

#buttons {
  text-align: center;
  display: flex;
}

#buttons h4 {
  font-size: 150%;
}

.clearfix {
  clear: both;
}

.tech-button {
  background-color: var(--mainColor);
  color: var(--backColor);
  border: medium solid var(--mainColor);
  align-content: center;
  cursor: pointer;
  padding: 2.5% 5%;
  font-size: 200%;
  font-weight: bold;
  font-family: var(--gfont);
}

.tech-button h4 {
  text-align: center;
}

.tech-button:hover {
  background-color: var(--backColor);
  color: var(--mainColor);
}

#page-content {
  clear: both;
}

#buttons iframe {
  width: 90%;
  height: 100%;
}
