/* Tech Assistant Page Styling */
#left-tutorials-button {
  flex: 1;
  width: 50%;
}

#left-tutorials-button li {
  font-size: 120%;
}

#right-forum-button {
  flex: 1;
  width: 50%;
}

#right-forum-button li {
  font-size: 120%;
}

#buttons {
  height: 200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.clearfix {
  clear: both;
}

.tech-button {
  background-color: white;
  border: 2px solid #008cba;
  padding: 15px 32px;
  text-decoration: none;
  font-family: "Google Sans";
  text-align: center;
  display: inline-block;
  font-size: 200%;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
}

.tech-button h4 {
  text-align: center;
}

.tech-button:hover {
  background-color: #008cba;
  color: white;
}

/* Tutorials Page Styling */
#left-tutorials-list {
  flex: 1;
  width: 50%;
}

#right-tutorials-list {
  flex: 1;
  width: 50%;
}

#tutorials {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.tutorials-vid {
  width: 560px;
  height: 315px;
  border: 0;
}
