/* Tutorials Page Styling */

#content li {
  font-size: 130%;
  list-style-type: none;
  margin: 3px;
}

#content h3 {
  margin-bottom: 10px;
}

.tutorials-vid {
  width: 448px;
  height: 252px;
  border: 0;
}

#suggestion-form {
  border-width: 1px;
  border-style: solid;
  width: 80%;
  padding: 15px;
  margin: 0;
  margin-top: 15px;
  align-content: center;
  text-align: center;
}

#suggestion {
  display: inline-block;
}

#suggestion-form h4 {
  margin-bottom: 7px;
  font-size: 170%;
}

#suggestion-form label {
  font-size: 125%;
}

textarea {
  font-size: 15pt;
  font-family: Google Sans, sans-serif;
  border: 1px solid #4285f4;
}

textarea::placeholder {
  color: #b7b7b7;
  font-size: 15pt;
  font-family: Google Sans, sans-serif;
}

input[type=text] {
  width: 90%;
  border: 1px solid #4285f4;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 20pt;
  height: 40px;
  margin-bottom: 15px;
}

input::placeholder {
  color: #b7b7b7;
  font-size: 15pt;
  font-family: Google Sans, sans-serif;
}
