/* Tutorials Page Styling */

#content li {
  font-size: 170%;
  list-style-type: none;
  margin: 2%;
}

#content a {
  text-decoration: none;
  font-weight: bold;
  color: var(--mainColor);
}

#content a:hover {
  text-decoration: underline;
}

#suggestion h2 {
  margin-bottom: 5%;
  font-size: 200%;
  color: var(--mainColor);
  font-weight: bold;
}

#account-functions h2 {
  margin-bottom: 2%;
  font-size: 160%;
}

#content h3 {
  margin-bottom: 3%;
  font-size: 180%;
  font-weight: bold;
}

h3::after {
  content: ' ';
  display: block;
  border: 1px solid var(--gLGray);
  border-radius: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  position: relative;
  width: 50%;
}

#content h4 {
  margin-bottom: 2%;
  font-size: 170%;
}

.tutorials-vid {
  width: 100%;
  height: 360px;
}

/* Suggestion Styling */
#suggestion-form {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  float: right;
}

#suggestion {
  display: inline-block;
  box-sizing: border-box;
  border-width: 0.05em;
  border-style: solid;
  padding: 5%;
  width: 75%;
}

#suggestion-form label {
  font-size: 150%;
  width: 100%;
  display: inline-block;
  margin-bottom: 4%;
}

#make-suggestion {
  background-color: var(--mainColor);
  color: var(--backColor);
  border: medium solid;
  align-content: center;
  cursor: pointer;
  padding: 2% 8%;
  font-size: 150%;
  font-family: var(--gfont);
  text-decoration: none;
  height: 20%;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
}

#make-suggestion:hover {
  background-color: var(--backColor);
  color: var(--mainColor);
}

textarea {
  font-size: 120%;
  font-family: var(--gfont);
  border: 0.05em solid;
  margin-bottom: 2%;
  resize: vertical;
  padding: 2%;
}

textarea:focus {
  outline: none !important;
  border-color: var(--mainColor);
  box-shadow: 0 0 8px var(--mainColor);
}

textarea::placeholder {
  color: var(--placeholder);
  font-size: 115%;
  font-family: var(--gfont);
}

#account-functions {
  border-width: 0.05em;
  border-style: solid;
  padding: 5%;
  width: 75%;
  margin-top: 5%;
  display: inline-block;
  box-sizing: border-box;
}
